%div.row
    %div.col.col-sm-3
        = link_to booking_new_path do
            %button.btn.btn-main.col{:type => "button"} 
                %p.button-text= t('.return')
    %div.col.col-sm-6
        %h3= t('.booking_failed')