<!-- HTML for booking parking spaces using a rails forms -->

%div.col.col-sm-6.offset-sm-3.background-blue
    %div.col.col-sm-8.offset-sm-2.text-center
        =form_with scope: :booking, local: true do |form|
            %p.main-text.line-height-fix
                =form.label t('.driver_name')
                =form.text_field :driver_name, id: 'driverName'
            %p.main-text.line-height-fix
                =form.label t('.number_plate')
                =form.text_field :license_plate_number, id: 'registrationNumber'
            %p.main-text.line-height-fix
                =form.label t('.parking_space')
                =form.text_field :space_number, id: 'parkingSpaceId'
            %p.main-text.line-height-fix
                =form.label t('.select_start_time')
                =form.number_field :start_time, step: 100, min:0, max:2300, id: 'startTime'
            %p.main-text.line-height-fix
                =form.label t('.select_end_time')
                =form.number_field :finish_time, step: 100, min:0, max:2300, id: 'finishTime'
            %p.btn{:id => "submit"}
                =form.submit

<!-- Javascript for checking if forms are empty and throwing an alert with the correct error message -->
:javascript  
    jQuery('#submit').click(function(e) {
        if(jQuery('#driverName').val() == '') {
            alert('Driver name can not be empty');
            e.preventDefault();
        } else if(jQuery('#registrationNumber').val() == '') {
            alert('Registration number can not be empty');
            e.preventDefault();
        } else if(jQuery('#parkingSpaceId').val() == '') {
            alert('Space number can not be empty');
            e.preventDefault();
        } else if(jQuery('#startTime').val() == '') {
            alert('Start time can not be empty');
            e.preventDefault();
        } else if(jQuery('#finishTime').val() == '') {
            alert('Finish time can not be empty');
            e.preventDefault();
        } 

    });
